@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
.coming-soon {
    text-align: center;
    padding: 100px;
}
 .coming-soon h1 {
     font-family: 'Playfair Display', serif;
     opacity: 0.8;
     font-size: 6em;
     color: white;
 }

 .coming-soon p {
    font-family: 'Montserrat', sans-serif;
    color: white;
 }

 .mail {
     text-align: center;
     margin-top: -60px;

 }


input[type=text] {
     border: 1px solid #aaa;
     outline: none;
     box-sizing: border-box;
     padding: 7px;
     color: white;
     background: transparent;
 }

 ::placeholder {
     color: white;
     opacity: 0.5;
     text-align: center;
 }

 button {
     padding: 8px;
     background-color: white;
     outline: none;
     font-family: 'Lato', sans-serif;
     color: black;
     border: 1px solid white;
     
 }

 button:hover {
     border: 1px solid black;
 }


 @media only screen  and (max-width: 440px) {
    .coming-soon h1 {
        font-size: 4.5em;
        margin-left: -50px;
        margin-top: -80px;
    }
}

@media only screen and (max-width: 446px){
    .coming-soon  {
        position: relative;
        top: 50px;
    }
    .mail {
        position: relative;
        top: 50px;
    }
}
